*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

.clock {
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 5px;
    height: 45%;
    background-color: black;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}